.container {
    font-family: "Roboto", sans-serif;
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    /* position: sticky;
    top: 0; */
 }

.nba-logo {
    position: absolute;
    top: 0;
    left: 10%;
    margin-top: 10px;
}

.small-search {
    max-width: 350px; /* or your preferred width */
    font-size: 0.85em; /* scale down text if needed */
    margin-left: 40px;
    position: absolute;
    top: 0;
    left: 73%;
    margin-top: -20px;
}

.small-search input,
.small-search button {
    font-size: 0.85em;
    padding: 8px 12px;
}

.container ul {
    list-style: none;
    margin-top: 0px;
}

nav {
    background-color: #212225;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 30%;
    margin-top: 30px;
    margin-left: -20px;
}

li {
    float: right;
    padding: 1em;
    padding-right: 4em;
    text-align: center;
}

img {
    height: 5em;
}

header a, header a:visited{
    color: inherit;
    text-decoration: none;
}