section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

p {
    text-align: center;
    width: 50%;
    height: fit-content;
    font-size: x-large;
    border-radius: 25px;
}

.text-side {
    background-color: #8d8eb4;
    padding: 40px;
    line-height: 2;
    font-weight: 250;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.image-side img{
    border-radius: 25px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.third-image{
    height: 230px;
    width: 560px;
}

.first-image{
    height: 150px;
}

.second-image{
    padding: 20px;
    height: 250px;
}