.inactive-logo {
    filter: grayscale(100%);
}

.active-logo, .inactive-logo {
    background-color: white;
    height: 58px;
    width: auto; 
    cursor: pointer;
    margin-top: 50px;
    border: none;
    padding: 10px; 
}